div {
	display: inline-block;
	width: 10%;
	margin-left: 2%;
	vertical-align: top;
	text-align: center;
	padding: 20px;
	border: 5px solid yellow;
	font-family: 'Indie Flower', cursive;
	font-size: large;
	font-weight:bold;
	color:white;
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}

#orange {
	background-color: orange;
}

#purple {
	background-color: purple;
}